<h1>Attribute directives</h1>
<h2>ngClass and ngStyle</h2>

<div [ngClass]="{border: false, background: true}">[ngClass]="{{ '{' }}border: false, background: true{{ '}' }}"</div>
<div [ngClass]="{border: true, background: false}">[ngClass]="{{ '{' }}border: true, background: false{{ '}' }}"</div>
<div [class.border]="true">[class.border]="true"</div>
<div [ngStyle]="{'background-color': 'red'}">[ngStyle]="{{ '{' }}'background-color': 'red'{{ '}' }}"</div>

<h2>Custom attribute directives</h2>

<!-- note the use of the directive name as a property binding input -->
<div [highlight]="'red'" [defaultColor]="'gray'">using custom attribute directive</div>

<h1>Structural directives</h1>

<h2>*ngIf</h2>
<!-- * marks the structural directive. The DOM is manipulated and the div
  is added and removed. It is not simple hidden and shown. -->
<div *ngIf="visible">Conditionally visible text</div>
<button (click)="onClick()">Toggle</button>

<h2>*hgFor</h2>
<ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul>

<ul>
  <li *ngFor="let item of items; let i = index">{{i}}: {{item}}</li>
</ul>

<h2>ngSwitch</h2>
<div [ngSwitch]="value">
  <p *ngSwitchCase="10">10</p>
  <p *ngSwitchCase="100">100</p>
  <p *ngSwitchDefault>Other</p>
</div>

<h2>*unless: custom structural directive</h2>
<div *unless="visible">Conditionally visible text</div>
